<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudjet.coupon.mapper.CouponActivityMapper">
	
	<select id="query" parameterType="String" resultType="com.cloudjet.coupon.entity.CouponActivityEntity">
	 	SELECT 				 
	 		   package_id `packageId`,
	 		   name 'name',
			   slogan 'slogan',
			   details 'details',
			   operate 'operate'
		FROM
			   cp_activity cw
		WHERE
			   cw.id = #{0}
	 </select>
	
</mapper>