<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudjet.coupon.mapper.CouponInfoMapper">
	 	
	<insert id="add" parameterType="com.cloudjet.coupon.entity.CouponInfoEntity">
	 	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
       		 select  replace(uuid(),'-','')   from dual  
   		</selectKey>
	 	
		insert into cp_info 
			(id,cp_name, pre_way, check_no,start_time,end_time,circulation,stock,limit_num,
			begin_time,due_time,type,cost_type,status,user_source_type,memo,rule,url,channel_text,
			url_button,rich_text,is_code,is_bind_code,is_share,is_meanwhile,is_meantime,create_time, update_time)
		values 
			(#{id},#{cpName},#{preWay},#{checkNo},#{startTime},#{endTime},#{circulation},#{stock},
			#{limitNum},#{beginTime},#{dueTime},#{type},#{costType},#{status},#{userSourceType},#{memo},#{rule},
			#{url},#{channelText},#{urlButton},#{richText},#{isCode},#{isBindCode},#{isShare},#{meanwhile},#{meantime},now(),now())
	</insert>
	   
	<delete id="delete" parameterType="String">
		delete from cp_info where id=#{cpId}
	</delete>
	
	<update id="updateStatus">
		update cp_info set status = #{status} where id=#{cpId}
	</update>
	
	<update id="updateUserSourceType">
		update cp_info set user_source_type = #{userSourceType},update_time = now() where id=#{cpId}
	</update>
	
	<select id="query" resultType="com.cloudjet.coupon.entity.CouponInfoEntity" parameterType="String">
		select  
			ci.id ,ci.cp_name 'cpName',ci.pre_way 'preWay',ci.check_no 'checkNo',ci.channel_text 'channelText',
			ci.start_time 'startTime',ci.end_time 'endTime',ci.circulation 'circulation',
			ci.stock 'stock',ci.limit_num 'limitNum',ci.begin_time 'beginTime',ci.due_time 'dueTime',
			ci.type 'type',ci.status 'status',ci.user_source_type 'userSourceType',ci.cost_type 'costType',
			ci.is_code 'isCode',ci.is_bind_code 'isBindCode',ci.is_share `isShare`,ci.rule 'rule',ci.memo 'memo',
			ci.rich_text 'richText',ci.url 'url',ci.url_button 'urlButton',
			ci.create_time 'createTime',ci.update_time 'updateTime'
		from cp_info ci 
		where ci.id = #{cpId}
	</select>
	
	<select id="queryByCodePlanId" resultType="com.cloudjet.coupon.entity.dto.CodeMsgDetailEntity" parameterType="String">
		select  
			ci.id, ci.cp_name 'cpName', ci.begin_time 'beginTime', ci.due_time 'dueTime', ccp.param,
			ci.create_time 'createTime', ci.update_time 'updateTime', ccp.msg_template 'msgTemplate',
			ci.channel_text 'channelText', ccp.msg_url 'msgUrl',ccp.msg_tag 'msgTag'
		from cp_info ci 
		LEFT JOIN cp_code_plan ccp ON ci.id = ccp.cp_id
		where ccp.id = #{codePlanId}
	</select>
	
	<select id="queryList" resultType="com.cloudjet.coupon.entity.dto.CouponInfoDetailEntity">
		SELECT 
			ci.id 'cpId',ci.cp_name 'cpName',ci.pre_way 'preWay',ci.check_no 'checkNo',ci.channel_text 'channelText',
			ci.start_time 'startTime',ci.end_time 'endTime',ci.circulation 'circulation',
			ci.stock 'stock',ci.limit_num 'limitNum',ci.begin_time 'beginTime',ci.due_time 'dueTime',
			ci.type 'type',ci.status 'status',ci.user_source_type 'userSourceType',ci.cost_type 'costType',
			ci.is_code 'isCode',ci.is_bind_code 'isBindCode',ci.is_share `isShare`,ci.rule 'rule',ci.memo 'memo',
			ci.rich_text 'richText',ci.url 'url',ci.url_button 'urlButton',ci.is_meanwhile `meanwhile`,
			ci.is_meantime `meantime`,ci.create_time 'createTime',ci.update_time 'updateTime',
			cic.type 'conditionType',cic.start_fee 'startFee',cic.par 'par',cic.end_fee 'endFee'
		FROM cp_info ci
		LEFT JOIN cp_info_condition cic ON ci.id = cic.info_id
		<if test="platCode !=null">
			left join cp_shop_info csi on csi.info_id = ci.id
		</if>
		WHERE 1=1
		<if test="cpName !='' and cpName != null">
			and cp_name like '%${cpName}%'
		</if>
		<if test="createTime_left != null and createTime_right != null">
			and ci.create_time &gt;=#{createTime_left}
			and ci.create_time &lt;=#{createTime_right}
		</if>
		<if test="beginTime != null and dueTime != null">
			and begin_time &gt;=#{beginTime}
			and due_time &lt;=#{dueTime}
		</if>
		<if test="type != null">
			and ci.type = #{type}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="par !=null">
			and cic.par = ${par}
		</if>
		<if test="platCode !=null">
			and csi.plat_code = ${platCode}
		</if>
		<if test="costType!=null">
			and ci.cost_type=#{costType}
		</if>
		ORDER BY ci.create_time DESC
	
		<if test="start != null">
			limit ${start},${limit}
		</if>
		
	</select>
	
	<update id="editStock">
		update cp_info set stock = stock -1 where id=#{cpId}
	</update>
	
	<select id="queryDetail" resultType="com.cloudjet.coupon.entity.dto.CouponInfoDetailEntity" parameterType="String">
		SELECT 
			ci.id 'cpId',ci.cp_name 'cpName',ci.pre_way 'preWay',ci.check_no 'checkNo', ci.channel_text 'channelText',
			ci.start_time 'startTime',ci.end_time 'endTime',ci.circulation 'circulation',
			ci.stock 'stock',ci.limit_num 'limitNum',ci.begin_time 'beginTime',ci.due_time 'dueTime',
			ci.type 'type',ci.status 'status',ci.user_source_type 'userSourceType',ci.cost_type 'costType',
			ci.is_code 'isCode',ci.is_bind_code 'isBindCode',ci.is_share `isShare`,ci.rule 'rule',ci.memo 'memo',
			ci.rich_text 'richText',ci.url 'url',ci.url_button 'urlButton',ci.is_meanwhile `meanwhile`,
			ci.is_meantime `meantime`,ci.create_time 'createTime',ci.update_time 'updateTime',
			cp.type 'conditionType',cp.start_fee 'startFee',cp.par 'par',cp.end_fee 'endFee'
		FROM cp_info ci
		LEFT JOIN cp_info_condition cp ON ci.id=cp.info_id
		WHERE ci.id=#{cpId}

	</select>
	
	<select id="queryChannels" resultType="com.cloudjet.coupon.entity.InfoChannelEntity" parameterType="String">
		SELECT 
			cic.id,cic.channel_name 'channelName',cic.channel_no 'channelNo'
		FROM cp_info_channel cic
		LEFT JOIN cp_info ci ON cic.info_id = ci.id
		WHERE ci.id=#{cpId}
	</select>
	
	<select id="queryChannelDetails" resultType="com.cloudjet.coupon.entity.InfoChannelDetailEntity" parameterType="String">
		SELECT 
			cicd.info_channel_id 'infoChannelId', cicd.channel_detail_name 'channelDetailName', cicd.channel_detail_no 'channelDetailNo'
		FROM cp_info_channel_detail cicd
		LEFT JOIN cp_info_channel cic ON cicd.info_channel_id = cic.id
		WHERE cic.id=#{cpId}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(0)
		from cp_info ci
		left join cp_info_condition cic on ci.id = cic.info_id
		<if test="platCode !=null">
			left join cp_shop_info csi on csi.info_id = ci.id
		</if>
		where 1=1
		<if test="cpName !='' and cpName != null">
			and cp_name like '%${cpName}%'
		</if>
		<if test="createTime_left != null and createTime_right != null">
			and ci.create_time &gt;=#{createTime_left}
			and ci.create_time &lt;=#{createTime_right}
		</if>
		<if test="beginTime != null and dueTime != null">
			and begin_time &gt;=#{beginTime}
			and due_time &lt;=#{dueTime}
		</if>
		<if test="type != null">
			and ci.type = #{type}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="par !=null">
			and cic.par = ${par}
		</if>
		<if test="platCode !=null">
			and csi.plat_code = ${platCode}
		</if>
		<if test="costType!=null">
			and ci.cost_type=#{costType}
		</if>
	</select>
	
	<select id="queryCheckedList" resultType="com.cloudjet.coupon.entity.dto.CouponInfoCheckedListEntity">
		select  
			ci.id ,ci.cp_name 'cpName',ci.pre_way 'preWay',ci.check_no 'checkNo',ci.is_share `isShare`,
			ci.start_time 'startTime',ci.end_time 'endTime',ci.circulation 'circulation',
			ci.stock 'stock',ci.limit_num 'limitNum',ci.begin_time 'beginTime',ci.due_time 'dueTime',
			ci.type 'type',ci.status 'status',ci.user_source_type 'userSourceType',ci.cost_type 'costType',
			ci.is_code 'isCode',ci.is_bind_code 'isBindCode',ci.rule 'rule',ci.memo 'memo',
			ci.rich_text 'richText',ci.url 'url',ci.url_button 'urlButton',
			ci.create_time 'createTime',ci.update_time 'updateTime', ci.channel_text 'channelText',
			cp.type 'conditionType',cp.start_fee 'startFee',cp.par 'par',cp.end_fee 'endFee'
		from cp_info ci
		LEFT JOIN cp_info_condition cp ON ci.id = cp.info_id
		where status = 0
		<if	test="costType !=null">
			and ci.cost_type = #{costType}
		</if>
		<if	test="isCode !=null">
			and ci.is_code = #{isCode}
		</if>
		<if	test="type !=null">
			and ci.type = #{type}
		</if>
		order by ci.create_time desc
	</select>
	
	<update id="updateAll">
		UPDATE cp_info a
		<set>
			<if test="status == 0 and cpName != null">
				a.cp_name = #{cpName},
			</if>
			<if test="status == 0 and isShare != null">
				a.is_share = #{isShare},
			</if>
			<if test="startTime != null and endTime != null">
				a.start_time = #{startTime},
			 	a.end_time = #{endTime},
			</if>
			<if test="status == 0 and circulation != null">
				a.circulation = #{circulation},
			</if>
			<if test="status == 0 and stock != null">
				a.stock = #{stock},
			</if>
			<if test="status == 0 and limitNum != null">
				a.limit_num = #{limitNum},
			</if>
			<if test="status == 0 and costType != null">
				a.cost_type = #{costType},
			</if>
			<if test="beginTime != null and dueTime != null">
				a.begin_time = #{beginTime},
		 		a.due_time = #{dueTime},
			</if>
			<if test="status == 0 and type != null">
				a.type = #{type},
			</if>
			<if test="rule != '' and rule != null">
				a.rule = #{rule},
			</if>
			<if test=" meanwhile != null ">
				a.is_meanwhile = #{meanwhile},
			</if>
			<if test=" meantime != null ">
				a.is_meantime = #{meantime},
			</if>
			<if test=" channelText != null and channelText !='' ">
				a.channel_text = #{channelText},
			</if>
				a.is_code =#{isCode},
				a.url = #{url},
				a.rich_text = #{richText},
				a.url_button = #{urlButton},
				a.memo = #{memo},
				a.update_time = now()
		</set>
		WHERE
		 	a.id = #{cpId}
	</update>
	
	<update id="updateStock">
		update cp_info set stock =#{stock}, update_time = now()
		where id=#{cpId}
	</update>
		
	<update id="updateCodeStatus">
		update cp_info set is_code=1,is_bind_code =#{status} where id=#{cpId}
	</update>
	
	<select id="queryProducts" resultType="com.cloudjet.coupon.entity.dto.ProductDetailEntity">
		SELECT 
			cps.id 'sortId', cps.name, cps.shop_code 'shopCode',
			cpsr.product_id 'productId'	 
		FROM cp_product_sort cps 
		LEFT JOIN cp_product_sort_relation cpsr ON cps.id = cpsr.sort_id
		WHERE cps.id = (select cis.param from cp_info ci 
				left join cp_info_scope cis on ci.id = cis.info_id
				where ci.id = #{cpId});
	</select>	
	
</mapper>