<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudjet.coupon.mapper.ProductSortLogMapper">
	 
	 <insert id="save" parameterType="com.cloudjet.coupon.entity.ProductSortLogEntity">
	 	
	 	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
       		 select  replace(uuid(),'-','')   from dual  
   		</selectKey>
	 	
		insert into cp_product_sort_log
			(id, product_id, sort_id, shop_code, name,type, create_time, update_time)
		values 
			(#{id}, #{productId}, #{sortId}, #{shopCode}, #{name}, #{type}, now(), now())
	   </insert>


</mapper>